html,
body {
  margin: 0;
  height: 100%;
}

#__nuxt {
  height: 100%;
}

body {
  background-color: #fff8f8;
}

select {
  outline: none;
  border: 0px;
  border-bottom: 1px solid #dddddd;

  &.clear {
    background-color: rgba(0, 0, 0, 0);
  }

  option {
    font-size: unset;
  }
}

select:focus {
  border-bottom: 1px solid #ffaaaa;
}

.text-stroke {
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff,
    -1px 0 0 #fff, 1px 0 0 #fff;
}
