html,
body {
  margin: 0;
  height: 100%;
}

#__nuxt {
  height: 100%;
}

body {
  background-color: #fff8f8;
}

.score {
  color: white;
  background-color: #999999;
  box-shadow: 1px 1px 3px lightgray;
  border-radius: 20px;
  margin: 0 10px;
  padding: 0 5px;
  min-width: 1.5em;
  line-height: 2em;
  text-align: center;

  &.good {
    background-color: #6666ff;
  }

  &.amazing {
    background-color: #00cc00;
  }

  &.god {
    background-color: #ff6666;
  }
}
